# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\works\ronyo.hu\maxdb-parser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
